<h2>All aminals</h2>
<div class="left">
  <ul class="aninmals">
    <li *ngFor="let aninmal of aninmals"
        (click)="onSelect(aninmal)"
        [class.selected]="aninmal == selectedAninmal">
      <span class="badge">{{aninmal.id}}</span> {{aninmal.name}}
      <button
        class="delete"
        (click)="delete(aninmal);
        $event.stopPropagation()">
        x
      </button>
    </li>
  </ul>
  <label>Aninmal name:</label> <input #aninmalName />
  <button (click)="add(aninmalName.value); aninmalName.value=''">
    Add
  </button>
</div>
<div *ngIf="selectedAninmal">
  <aninmal-detail [aninmal]="selectedAninmal"></aninmal-detail>
  <button (click)="gotoDetail()">View Details</button>
</div>
